[Unit]
Description=Filebeat for the Wagtailblog test log read model
Documentation=https://www.elastic.co/guide/en/beats/filebeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
UMask=0027
Environment=ELASTICSEARCH_LOG_URL=http://192.168.20.2:9200
ExecStart=/usr/share/filebeat/bin/filebeat --environment systemd --path.home /usr/share/filebeat --path.config /etc/filebeat -c /etc/filebeat/wagtailblog-test-logs.yml --path.data /var/lib/filebeat-wagtailblog-test --path.logs /var/log/filebeat-wagtailblog-test
Restart=always
RestartSec=5s
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=false
PrivateTmp=true
ReadWritePaths=/var/lib/filebeat-wagtailblog-test /var/log/filebeat-wagtailblog-test

[Install]
WantedBy=multi-user.target
